# configuration for lexical training

# corpus name
CORPUS = "europarl-v7"

# source language
SL = "eng"

# target language
TL = "spa"

# source corpus
CORPUS_SL = "europarl-v7.eng-spa.eng"

# target corpus
CORPUS_TL = "europarl-v7.eng-spa.spa"

# apertium-lex-tools scripts
LEX_TOOLS = "/home/vivek/Documents/FOSS/apertium/apertium-lex-tools/scripts"

# fast align build folder
FAST_ALIGN = "/home/vivek/Documents/FOSS/apertium/user-friendly-lexical-training/coding_challenges/fast_align/build"

# apertium language data
LANG_DATA = "/home/vivek/Documents/FOSS/apertium/user-friendly-lexical-training/coding_challenges/apertium-eng-spa"
